@CHARSET "UTF-8";

body {
	height:100%;
	font:62.5% arial,helvetica,sans-serif;
	color:#FFFFFF;
	line-height:1.3em;
	background:#000 url(../assets/images/hdp-global-bg.jpg) no-repeat center top;
	text-align: center;
}

#heineken_image_left{
	float:left;
	padding-left:50px;
}